*.class
*.mf
*.xml
*.properties

# netbeans specific # 
nbproject/private/ 
build/ 
nbbuild/ 
dist/ 
nbdist/ 
nbactions.xml 
nb-configuration.xml 

# Class Files # 
*.class 

# Package Files # 
*.jar 
*.war 
*.ear

/Aeropuerto/nbproject/private/
/Excepciones/nbproject/private/
/ExcepcionesFileNotFound/nbproject/private/
/ExepcionesTryCatch/nbproject/private/
/Excepcion0/nbproject/private/
/GUI_JFrame_Ventana/nbproject/private/
/GUI_ActionListener/nbproject/private/
/GUI_ContarClics/nbproject/private/
/GUI_RadioBotones/nbproject/private/
/GUI_RGB/nbproject/private/
/Diseñador_UI/nbproject/private/
/GUI_Diseñador_UI/nbproject/private/
/GUI_Cronometro/nbproject/private/
/GUI_Login/nbproject/private/
/Contraseña/nbproject/private/
/GUI_Layout/nbproject/private/
/GUI_BarraMenu/nbproject/private/